{% extends 'base.html' %}

{% block title %}memocha Patient Dashboard{%  endblock title %}

{% block extra-head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memocha/patient_dashboard.css' %}" />
{% endblock extra-head %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Personal Information for {{ patient.user.first_name }} {{ patient.user.last_name }}</h2>
            <p>Date of birth: {{ patient.date_of_birth }}</p>
            <p>Email Address: {{ patient.user.email }}</p>
            <p>Doctor: {{ patient.doctor.user.first_name }} {{ patient.doctor.user.last_name }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="current_meds" method="post" action="{% url 'memocha:record_video' %}">
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Prescriptions</h2>
            {% for prescription in patient.prescriptions.all %}
                <p>{{ prescription }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Videos for Last 5 Days</h2>
            <div class="table-responsive">
                <table id="video_table" class="table">
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra-js %}
    <script type="text/javascript">
        $(function() {
            var med_div = document.getElementById("current_meds");
            var recordables = {{ recordable_meds|safe }};
            if (recordables.length > 0) {
                var medications = {{ recordable_meds|safe }};
                var time = {{ recordable_med_times|safe }};
                var node = document.createElement("H2");
                node.innerHTML = "Recordable Medications";
                med_div.appendChild(node);
                for (i=0; i < medications.length; i++) {
                    row_div = document.createElement("DIV");
                    row_div.classList.add("row");
                    med_div.appendChild(row_div);

                    col_div = document.createElement("DIV");
                    col_div.classList.add("col-md-3");
                    node = document.createElement("P");
                    node.innerHTML = medications[i] + " at " + time[i];
                    col_div.appendChild(node);
                    row_div.appendChild(col_div);

                    col_div = document.createElement("DIV");
                    col_div.classList.add("col-md-9");
                    node = document.createElement("button");
                    node.innerHTML = "Record Medication";
                    node.setAttribute('name', 'medication');
                    node.setAttribute('value', medications[i]);
                    node.classList.add('btn', 'btn-primary');
                    col_div.appendChild(node);
                    row_div.appendChild(col_div);
                }
            } else {
                medications = {{ next_meds|safe }};
                time = ["{{ next_med_time|safe }}"];
                heading = document.createTextNode("Next Medication");
                node = document.createElement("H2");
                node.appendChild(heading);
                med_div.appendChild(node);
                for (i=0; i < medications.length; i++) {
                    node = document.createElement("P");
                    par = document.createTextNode(medications[i] + " at " + time[i]);
                    node.appendChild(par);
                    med_div.appendChild(node);
                }
            }

            var dates = {{ dates_of_interest|safe }};

            var table = document.getElementById("video_table");
            var header = table.createTHead();
            var row = header.insertRow(-1);
            var cell = document.createElement("TH");
            row.appendChild(cell);
            cell.innerHTML = "Medication";
            for (i=0; i < dates.length; i++) {
                cell = document.createElement("TH");
                row.appendChild(cell);
                node = document.createElement("P");
                node.innerHTML = dates[i];
                cell.appendChild(node);
            }
            var body = table.createTBody();
            var prescriptions = {{ prescriptions|safe }};
            for (i=0; i < prescriptions.length; i++) {
                var prescription = prescriptions[i];
                row = body.insertRow(-1);
                cell = document.createElement("TH");
                cell.innerHTML = prescription[1];
                row.appendChild(cell);
                for (j=0; j < dates.length; j++) {
                    cell = row.insertCell(-1);
                    var times = prescription[3];
                    for (k=0; k < times.length; k++) {
                        var real_time = times[k].substring(0, times[k].length - 3);
                        node = document.createElement("P");
                        node.innerHTML = real_time;
                        node.classList.add('text-danger');
                        cell.appendChild(node);
                    }
                }
            }

            var videos = {{ video_list|safe }};
            table = $("#video_table");
            table_body = $(table).find("> tBody");
            table_head = $(table).find("> tHead");
            for (i=0; i < videos.length; i++) {
                var video = videos[i];
                row = table_body.find("th:contains("+ video.medication +")").parent()[0];
                column = table_head.find("p:contains("+ video.date +")").parent().index();
                cell = row.cells[column];
                node = $(cell).find("p:contains("+ video.timeslot +")");
                new_node = document.createElement("A");
                new_node.roll = "button";
                new_node.innerHTML = video.timeslot;
                new_node.href = video.url;
                if (video.approved === true) {
                    new_node.classList.add('btn', 'btn-success');
                } else if (video.approved === false) {
                    new_node.classList.add('btn', 'btn-danger');
                } else {
                    new_node.classList.add('btn', 'btn-warning');
                }
                $(node).replaceWith(new_node);
            }
        });
    </script>
{% endblock extra-js %}
