#remove-patient {
    background-image: none;
    background-color: black;
    color: white;
    border: none;
    float: right;
}

#remove-patient:hover {
    background-color: #3b3b3b;
}

#video_table {
    text-align: center;
}

#video_table .btn {
    background-image: none;
    border: none;
    box-shadow: none;
}

#video_table p {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

#video_table tbody th {
    padding-top: 11px;
}

.medication-header {
    text-align: center;
}

#approval_table td {
    vertical-align: middle;
}

#approval_table .btn {
    padding: 4px 9px 4px 9px;
}
