.btn-primary{
    background-image: none;
    background-color: #1aaed7;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #1cb8e3;
}

#remove-patient {
    background-image: none;
    background-color: black;
    color: white;
    border: none;
    float: right;
}

#remove-patient:hover {
    background-color: #3b3b3b;
}

#video_table {
    text-align: center;
}

#video_table .btn {
    background-image: none;
    border: none;
    box-shadow: none;
}

#video_table p {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

.delete-row {
    margin-left: 15px;
    margin-right: 15px;
}

.add-row {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#save-patient {
    float: right;
}

#approval_table td {
    vertical-align: middle;
}

#approval_table .btn {
    padding: 4px 9px 4px 9px;
}
