#video_table .btn {
    background-image: none;
    border: none;
    box-shadow: none;
}

#video_table tbody p {
    margin-bottom: 0;
    padding: 6px 12px 6px 12px;
}

#video_table tbody th {
    padding-top: 14px;
}

#video_table thead p {
    margin-bottom: 0;
    padding-left: 6px;
}

.btn-primary{
    background-image: none;
    background-color: #1aaed7;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #1cb8e3;
}
