.no-video {
    color: red;
}

.yes-video {
    color: green;
}

.maybe-video {
    color: yellow;
}

#video_table a {
    display: block;
    margin-bottom: 10px;
}

.btn-primary{
    background-image: none;
    background-color: #1aaed7;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #1cb8e3;
}
