{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}memocha New Patient{%  endblock title %}

{% block extra-head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recorder/add_patient.css' %}" />
{% endblock extra-head %}

{% block content %}
    <h2>Add a new patient</h2>
    <div class="entry">
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {{ form.as_p }}
            <h3>Prescriptions</h3>
            {% for sub_form in formset %}
                <div id="{{ sub_form.prefix }}-row">
                    {{ sub_form.as_table }}
                </div>
            {% endfor %}
            <br />
            <button class="btn btn-primary" type="submit" name="action" value="save">Save Patient</button>
        </form>
    </div>
{% endblock content %}

{% block extra-js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'recorder/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('form div').formset({
                prefix: 'p_form',
                addText: 'Add Prescription',
                deleteText: 'remove'
            })
        });
    </script>
{% endblock extra-js %}
