{% extends 'base.html' %}

{% block content %}
    <h2>Add a new patient</h2>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ form.as_ul }}
        {% for sub_form in formset %}
            {{ sub_form.as_ul }}
            <button class="btn" type="submit" name="action" value="{{ sub_form.prefix }}-DELETE">Remove Prescription</button>
        {% endfor %}
        <button class="btn" type="submit" name="action" value="add">Add Prescription</button>
        <button class="btn btn-primary" type="submit" name="action" value="save">Save Patient</button>
    </form>
{% endblock content %}
