{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}memocha New Patient{%  endblock title %}

{% block extra-head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recorder/add_patient.css' %}" />
{% endblock extra-head %}

{% block content %}
    <h2>Add a new patient</h2>
    <form method="post">
        {% csrf_token %}
        <div id="patient-info">
            {{ form|bootstrap_horizontal }}
        </div>
        <h3>Prescriptions</h3>
        <div id="prescriptions">
            {% for sub_form in formset %}
                <div class="prescription-form" id="{{ sub_form.prefix }}-row">
                    {{ sub_form|bootstrap_horizontal }}
                </div>
            {% endfor %}
        </div>
        {{ formset.management_form }}
        <button id="save-patient" class="btn btn-lg btn-primary" name="action" value="save">Save Patient</button>
    </form>
{% endblock content %}

{% block extra-js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'recorder/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('form div#prescriptions div.prescription-form').formset({
                prefix: 'p_form',
                addText: 'Add Prescription',
                deleteText: 'Remove Prescription'
            })
        });
    </script>
{% endblock extra-js %}
