{% extends 'base.html' %}

{% block title %}memocha Doctor Dashboard{%  endblock title %}

{% block extra-head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recorder/doctor_dashboard.css' %}" />
{% endblock extra-head %}

{% block content %}
    <h2>Patients</h2>
    <div class="list-group">
        {% for patient in patients %}
            <a href="{% url 'recorder:patient_details' patient.id %}" class="list-group-item list-group-item-action">{{ patient }}</a>
        {% endfor %}
    </div>
    <button class="btn btn-block btn-primary" onclick="location.href='{% url 'recorder:add_patient' %}'">
        Add new patient</button>
{% endblock content %}
