{% extends 'base.html' %}

{% block title %}Dashboard{%  endblock title %}

{% block content %}
    <form id="current_meds" method="post" action="{% url 'recorder:record_video' %}">
        {% csrf_token %}
    </form>

    <h2>Prescriptions</h2>
    {% for prescription in patient.prescriptions.all %}
        <p>{{ prescription }}</p>
    {% endfor %}

    <h2>Videos</h2>
    <div class="table-responsive">
        <table id="video_table" class="table">
        </table>
    </div>
{% endblock content %}

{% block extra-js %}
    <script type="text/javascript">
        $(function() {
            var med_div = document.getElementById("current_meds");
            var recordables = {{ recordable_meds|safe }};
            if (recordables.length > 0) {
                var medications = {{ recordable_meds|safe }};
                var time = {{ recordable_med_times|safe }};
                var heading = document.createTextNode("Recordable Medications");
                var node = document.createElement("H2");
                node.appendChild(heading);
                med_div.appendChild(node);
                for (i=0; i < medications.length; i++) {
                    node = document.createElement("P");
                    par = document.createTextNode(medications[i] + " at " + time[i]);
                    node.appendChild(par);
                    med_div.appendChild(node);
                    node = document.createElement("button");
                    node.innerHTML = "Record Medication";
                    node.setAttribute('name', 'medication');
                    node.setAttribute('value', medications[i]);
                    med_div.appendChild(node);
                }
            } else {
                medications = {{ next_meds|safe }};
                time = ["{{ next_med_time|safe }}"];
                heading = document.createTextNode("Next Medication");
                node = document.createElement("H2");
                node.appendChild(heading);
                med_div.appendChild(node);
                for (i=0; i < medications.length; i++) {
                    node = document.createElement("P");
                    par = document.createTextNode(medications[i] + " at " + time[i]);
                    node.appendChild(par);
                    med_div.appendChild(node);
                }
            }
        });

        $(function() {
            var videos = {{ video_dict|safe }};
            var dates = {{ dates_of_interest|safe }};

            var table = document.getElementById("video_table");
            var header = table.createTHead();
            var row = header.insertRow(-1);
            var header_cells = ["Medication"].concat(dates);
            for (i=0; i < header_cells.length; i++) {
                var cell = row.insertCell(-1);
                cell.innerHTML = header_cells[i];
            }
            var prescriptions = {{ prescriptions|safe }};
            for (i=0; i < prescriptions.length; i++) {
                var prescription = prescriptions[i];
                row = table.insertRow(-1);
                cell = row.insertCell(-1);
                cell.innerHTML = prescription[1];
                for (j=1; j < header_cells.length; j++) {
                    cell = row.insertCell(-1);
                    var times = prescription[3];
                    for (k=0; k < times.length; k++) {
                        var real_time = times[k].substring(0, times[k].length - 3);
                        if (checkNested(videos, header_cells[j], prescription[1], real_time)) {
                            var node = document.createElement("A");
                            node.innerHTML = real_time;
                            node.href = videos[header_cells[j]][prescription[1]][real_time];
                            cell.appendChild(node);
                        } else {
                            node = document.createElement("P");
                            node.innerHTML = real_time;
                            cell.appendChild(node);
                        }
                    }
                }
            }
        });

        $(function() {
            var home_link = document.getElementById('home-link');
            home_link.href = '/recorder/patient';
        });

        function checkNested(obj) {
            var args = Array.prototype.slice.call(arguments, 1);

            for (var i=0; i < args.length; i++) {
                if (!obj || !obj.hasOwnProperty(args[i])) {
                    return false;
                }
                obj = obj[args[i]];
            }
            return true;
        }
    </script>
{% endblock extra-js %}
