{% extends 'base.html' %}

{% block title %}Dashboard{%  endblock title %}

{% block content %}
    <div id="current_meds">
    </div>

    <h2>Prescriptions</h2>
    {% for prescription in patient.prescriptions.all %}
        <p>{{ prescription }}</p>
    {% endfor %}

    <h2>Videos</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Medication</th>
                    <th>Day -4</th>
                    <th>Day -3</th>
                    <th>Day -2</th>
                    <th>Day -1</th>
                    <th>Day 0</th>
                </tr>
            </thead>
            <tbody>
                {% for prescription in patient.prescriptions.all %}
                    <tr>
                        <td>{{ prescription.medication }}</td>
                        <td>
                            {% for dosage_time in prescription.dosage_times %}
                                <p>{{ dosage_time|time:"H:i" }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for dosage_time in prescription.dosage_times %}
                                <p>{{ dosage_time|time:"H:i" }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for dosage_time in prescription.dosage_times %}
                                <p>{{ dosage_time|time:"H:i" }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for dosage_time in prescription.dosage_times %}
                                <p>{{ dosage_time|time:"H:i" }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for dosage_time in prescription.dosage_times %}
                                <p>{{ dosage_time|time:"H:i" }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block extra-js %}
    <script type="text/javascript">
        $(function() {
            var med_div = document.getElementById("current_meds");
            var recordables = {{ recordable_meds|safe }};
            if (recordables.length > 0) {
                var medications = {{ recordable_meds|safe }};
                var time = {{ recordable_med_times|safe }};
                var heading = document.createTextNode("Recordable Medications");
            } else {
                medications = {{ next_meds|safe }};
                time = ["{{ next_med_time|safe }}"];
                heading = document.createTextNode("Next Medication");
            }
            var node = document.createElement("H2");
            node.appendChild(heading);
            med_div.appendChild(node);
            for (i=0; i < medications.length; i++) {
                node = document.createElement("P");
                par = document.createTextNode(medications[i] + " at " + time[i]);
                node.appendChild(par);
                med_div.appendChild(node);
            }
        });
    </script>
{% endblock extra-js %}
