{% extends 'base.html' %}

{% block title %}Patient Details for {{ patient.user.first_name }} {{ patient.user.last_name }}{%  endblock title %}

{% block content %}
    <form id="prescriptions" method="post">
        {% csrf_token %}
        <h2>Patient Details for {{ patient.user.first_name }} {{ patient.user.last_name }}</h2>
        <p>Date of birth: {{ patient.date_of_birth }}</p>
        <p>Email Address: {{ patient.user.email }}</p>
        <h3>Prescriptions</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            <div id="{{ form.prefix }}-row">
                {{ form.as_table }}
            </div>
        {% endfor %}
        <br />
        <button class="btn btn-primary">Update Patient</button>
    </form>

    <h3>Awaiting Approval</h3>
    <div class="table-responsive">
        <table id="approval_table" class="table">
        </table>
    </div>

    <h3>Video History</h3>
    <div class="table-responsive">
        <table id="video_table" class="table">
        </table>
    </div>

    <form id="removal" method="post">
        {% csrf_token %}
        <button class="btn">Remove Patient</button>
    </form>
{% endblock content %}

{% block extra-js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'recorder/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('form div').formset({
                prefix: 'p_form',
                addText: 'Add Prescription',
                deleteText: 'remove'
            })
        });

        $(function() {
            var table = document.getElementById("approval_table");
            var videos = {{ approval_needed|safe }};
            for (i=0; i < videos.length; i++) {
                var row = table.insertRow(-1);
                var cell = row.insertCell(-1);
                var link = document.createElement("A");
                link.innerHTML = videos[i].medication + " at " + videos[i].timeslot + " on " + videos[i].date;
                link.href = videos[i].url;
                cell.appendChild(link);
                cell = row.insertCell(-1);
                var approve_button = document.createElement("BUTTON");
                approve_button.innerHTML = "Approve";
                cell.appendChild(approve_button);
                cell = row.insertCell(-1);
                var disapprove_button = document.createElement("BUTTON");
                disapprove_button.innerHTML = "Disapprove";
                cell.appendChild(disapprove_button);
            }
        });

        $(function() {
            var videos = {{ video_dict|safe }};
            var dates = {{ dates_of_interest|safe }};
            var prescriptions = {{ prescriptions|safe }};

            var table = document.getElementById("video_table");
            var header = table.createTHead();
            var row = header.insertRow(-1);
            var cell = row.insertCell(-1);
            cell.innerHTML = "Date";
            for (i=0; i < prescriptions.length; i++) {
                cell = row.insertCell(-1);
                cell.innerHTML = prescriptions[i][1];
            }
            for (i=dates.length-1; i >= 0; i--) {
                var date = dates[i];
                row = table.insertRow(-1);
                cell = row.insertCell(-1);
                cell.innerHTML = date;
                for (j=0; j < prescriptions.length; j++) {
                    var times = prescriptions[j][3];
                    cell = row.insertCell(-1);
                    for (k=0; k < times.length; k++) {
                        var real_time = times[k].substring(0, times[k].length - 3);
                        if (checkNested(videos, date, prescriptions[j][1], real_time)) {
                            var node = document.createElement("A");
                            node.innerHTML = real_time;
                            node.href = videos[date][prescriptions[j][1]][real_time];
                            cell.appendChild(node);
                        } else {
                            node = document.createElement("P");
                            node.innerHTML = real_time;
                            cell.appendChild(node);
                        }
                    }
                }
            }
        });

        function checkNested(obj) {
            var args = Array.prototype.slice.call(arguments, 1);

            for (var i=0; i < args.length; i++) {
                if (!obj || !obj.hasOwnProperty(args[i])) {
                    return false;
                }
                obj = obj[args[i]];
            }
            return true;
        }

        $('form#removal').submit(function() {
            var formData = new FormData(this);
            formData.append('action', 'remove');
            $.ajax({
                type: 'POST',
                url: "{% url 'recorder:patient_details' patient.id %}",
                data: formData,
                processData: false,
                contentType: false,
                success: function() {
                    window.location.href = '/recorder/doctor';
                }
            });
            return false;
        });
    </script>
{% endblock extra-js %}
