{% extends 'base.html' %}

{% block title %}memocha Patient Details for {{ patient.user.first_name }} {{ patient.user.last_name }}{%  endblock title %}

{% block extra-head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recorder/patient_details.css' %}" />
{% endblock extra-head %}

{% block content %}
    <h2>Patient Details for {{ patient.user.first_name }} {{ patient.user.last_name }}</h2>
    <p>Date of birth: {{ patient.date_of_birth }}</p>
    <p>Email Address: {{ patient.user.email }}</p>

    <h3>Prescriptions</h3>
    <form id="prescriptions" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div id="{{ form.prefix }}-row">
                {{ form.as_table }}
            </div>
        {% endfor %}
        <br />
        <button class="btn btn-primary">Update Patient</button>
    </form>

    <h3>Awaiting Approval</h3>
    <form id="approval" method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table id="approval_table" class="table">
            </table>
        </div>
    </form>

    <h3>Video History</h3>
    <div class="table-responsive">
        <table id="video_table" class="table">
        </table>
    </div>

    <form id="removal" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" id="remove_patient">Remove Patient</button>
    </form>
{% endblock content %}

{% block extra-js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'recorder/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('form#prescriptions div').formset({
                prefix: 'p_form',
                addText: 'Add Prescription',
                deleteText: 'remove'
            });

            var table = document.getElementById("approval_table");
            var videos = {{ approval_needed|safe }};
            if (videos.length === 0) {
                var row = table.insertRow(-1);
                var cell = row.insertCell(-1);
                var node = document.createElement("P");
                node.innerHTML = "None";
                cell.appendChild(node);
            } else {
                for (i=0; i < videos.length; i++) {
                    row = table.insertRow(-1);
                    cell = row.insertCell(-1);
                    var link = document.createElement("A");
                    link.innerHTML = videos[i].medication + " at " + videos[i].timeslot + " on " + videos[i].date;
                    link.href = videos[i].url;
                    cell.appendChild(link);
                    cell = row.insertCell(-1);
                    var approve_button = document.createElement("BUTTON");
                    approve_button.innerHTML = "Approve";
                    approve_button.name = 'approve';
                    approve_button.value = i;
                    cell.appendChild(approve_button);
                    cell = row.insertCell(-1);
                    var disapprove_button = document.createElement("BUTTON");
                    disapprove_button.innerHTML = "Disapprove";
                    disapprove_button.name = 'disapprove';
                    disapprove_button.value = i;
                    cell.appendChild(disapprove_button);
                }
            }

            $('form#approval').on("submit", function() {
                var formData = new FormData(this);
                var btn = $('button[clicked=true]');
                formData.append(btn.attr('name'), btn.val());
                $.ajax({
                    type: 'POST',
                    url: "{% url 'recorder:patient_details' patient.id %}",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function() {
                        window.location.href = "{% url 'recorder:patient_details' patient.id %}";
                    }
                });
                return false;
            });

            $('form#approval button').on("click", function() {
                $('button', $(this).parents('form')).removeAttr('clicked');
                $(this).attr('clicked', 'true');
            });

            var dates = {{ dates_of_interest|safe }};
            var prescriptions = {{ prescriptions|safe }};

            table = document.getElementById("video_table");
            var header = table.createTHead();
            row = header.insertRow(-1);
            cell = row.insertCell(-1);
            cell.innerHTML = "Date";
            for (i=0; i < prescriptions.length; i++) {
                cell = row.insertCell(-1);
                cell.innerHTML = prescriptions[i][1];
            }
            for (i=dates.length-1; i >= 0; i--) {
                var date = dates[i];
                row = table.insertRow(-1);
                cell = row.insertCell(-1);
                cell.innerHTML = date;
                for (j=0; j < prescriptions.length; j++) {
                    var times = prescriptions[j][3];
                    cell = row.insertCell(-1);
                    for (k=0; k < times.length; k++) {
                        var real_time = times[k].substring(0, times[k].length - 3);
                        node = document.createElement("P");
                        node.innerHTML = real_time;
                        node.classList.add('no-video');
                        cell.appendChild(node);
                    }
                }
            }

            videos = {{ video_list|safe }};
            table = $("#video_table");
            for (i=0; i < videos.length; i++) {
                var video = videos[i];
                row = table.find("tr:contains("+ video['date'] +")")[0];
                column = table.find("td:contains("+ video['medication'] +")").index();
                cell = row.cells[column];
                node = $(cell).find("p:contains("+ video['timeslot'] +")");
                new_node = document.createElement("A");
                new_node.innerHTML = video['timeslot'];
                new_node.href = video['url'];
                if (video['approved'] === true) {
                    new_node.classList.add('yes-video');
                } else if (video['approved'] === false) {
                    new_node.classList.add('no-video');
                } else {
                    new_node.classList.add('maybe-video');
                }
                $(node).replaceWith(new_node);
            }

            $('form#removal').submit(function() {
                var formData = new FormData(this);
                formData.append('action', 'remove');
                $.ajax({
                    type: 'POST',
                    url: "{% url 'recorder:patient_details' patient.id %}",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function() {
                        window.location.href = '/recorder/doctor';
                    }
                });
                return false;
            });
        });
    </script>
{% endblock extra-js %}
