{% extends 'base.html' %}

{% block title %}memocha Video Recording{%  endblock title %}

{% block extra-head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recorder/record_video.css' %}" />
{% endblock extra-head %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <video id="recordVideo" autoplay></video>
            <video id="playVideo" autoplay loop></video>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <form id="video_upload" method="post" action="">
            {% csrf_token %}
            {{ form.medication.as_hidden }}
            <div>
                <button type="button" class="btn btn-primary" id="record" disabled>Start Recording</button>
                <button class="btn btn-primary" id="upload" disabled>Upload</button>
            </div>
        </form>
        </div>
    </div>

{% endblock content %}

{% block extra-js %}
    {% load static %}
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="{% static 'recorder/video.js' %}"></script>
{% endblock extra-js %}